@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Gradients*/
    --cor0: hsl(252, 100%, 67%);
    --cor1: hsl(241, 81%, 54%);
    --cor2: hsla(256, 72%, 46%, 1);
    --cor3:  hsla(241, 72%, 46%, 0);
    /*Neutral*/
    --cor4: hsl(0, 0%, 100%);
    --cor5: hsl(221, 100%, 96%);
    --cor6: hsl(241, 100%, 89%);
    --cor7: hsl(224, 30%, 27%);
    /*primary*/
    --cor8: hsl(0, 100%, 67%);
    --cor9: hsl(39, 100%, 56%);
    --cor10: hsl(166, 100%, 37%);
    --cor11: hsl(234, 85%, 45%);

    --font-padrao: 'Hanken Grotesk', sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4);
    font-family: var(--font-padrao);
}


div.card {
    max-width: 1440px;
    min-width: 375px;
    width: 600px;
    height: 420px;
    margin: auto;
    margin-top: 10%;
    background-color: var(--cor4);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.232);
    border-radius: 30px;
} 

div.results{
    display: inline-block;
    width: 300px;
    height: 420px;
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1)50%);
    border-radius: 30px;
    text-align: center;

}

div.results > h1 {
    color: var(--cor6);
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
}

div.results > h2 {
    color: var(--cor4);
    margin-bottom: 20px;
    font-size: 1.8em;
    
}

div.results > p {
    color: var(--cor6);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

div.results > div.circle {
    background-image: linear-gradient(to bottom, var(--cor2)20%, var(--cor1));
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    
}

div.results > div.circle > p {
    color: var(--cor6);
    font-weight: bold;
    margin: auto;
    padding-top: 20px;
}

div.results > div.circle > p > span {
    font-size: 50px;
    font-weight: bold;
    color: var(--cor4);
    margin: auto;
}

div.summary {
    display:inline-block;
    float: right;
    background-color: white; 
    width: 300px;
    height: 420px;
    border-radius: 30px;
}

div.summary > h2 {
    margin: 25px 25px 25px 25px;
    font-weight: 600;
    font-size: 18px;
}

div.summary > p {
    margin: 25px 25px 25px 25px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    
}

div.summary > p.one {
    background-color: hsla(0, 100%, 67%, 0.100);;
    color: var(--cor8);
    border-color: hsl(0, 100%, 67%); 
}

div.summary > p.two {
    background-color: hsla(39, 100%, 56%, 0.100);
    color: var(--cor9);
}

div.summary > p.three {
    background-color:hsla(166, 100%, 37%, 0.130) ;
    color: hsl(166, 100%, 37%) ;
}

div.summary > p.four {
    background-color: hsla(234, 85%, 45%, 0.158);
    color: hsl(234, 85%, 45%);
}

div.summary > p > img{
    width: 6%;
    margin-right: 15px;
    margin-top: 2px;
     
}

div.summary > button{
    width: 250px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 30px;
    border-style: none;
    background-color: var(--cor7);
    color: white;
}

div.summary > button:active {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
}


@media screen and (max-width:610px) {
    
    div.card {
        min-width: 300px;
        width: 300px;
        height: 840px;
    }
    
    div.results {
        width: 300px;
        height: 420px;
    }
    
    
}